<div class="thanhuty">
	<div class="custom-thankyou-page">
		<h1>Thank You for Joining!</h1>
	
		<div class="thankyou-content">
			<div class="thankyou-image">
				<iframe title="YouTube video player" src="https://www.youtube.com/embed/14m6XCSMI-4?si=AusCK2UCWj0vMAXx" width="360" height="222.078" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
			</div>
	
			<div class="thankyou-text">
				<p>Congratulations on taking the first brave step toward your emotional well-being.</p>
			</div>
		</div>
	
		<blockquote class="thankyou-quote">
			<p>“Thank you for trusting me to be part of your healing journey.”</p>
			<span>Kenny Weiss</span>
		</blockquote>
	
		<div class="thankyou-footer">
			<p><strong>See You Inside the Course!</strong></p>
			<p>Check your email for your login credentials and course access link.</p>
			
		</div>
	</div>
</div>


	
	

	