<div *ngIf="loading" class="loader-maim">
    <div class="hm-spinner"></div>
</div>
<main class="pt-1 blogdetailspage" *ngIf="wdcpost">
    <div class="bg-gry colorlink">
        <div class="container">
            <div class="grid2">
                <!-- Main Content -->
                <div class="main-content">
                    <div class="shine-effect wfull">
                        <div class="imghigh">
                            <!-- Agar featured image ho -->
                            <img *ngIf="featuredImage" [src]="featuredImage" alt="{{ wdcpost.title?.rendered }}"
                                loading="lazy" class="course-details-img">

                        </div>
                    </div>
                    <h1 [innerHTML]="wdcpost?.title?.rendered"></h1>
                    <div [innerHTML]="safeContent" class="contentsocialserd"></div>
                 
 
                </div>
                

                <!-- Sidebar -->
                <div class="sidebar">
                    <div class="position-sticky">
                        <div class="contact-box">
                            <div class="shine-effect canter-content">
                                <img src="images/8.jpeg" loading="lazy" alt="Contact">

                                <div class="img-contant">
                                    <h5>Have any questions?</h5> 
                                    <div class="button-row">
                                        <a routerLink="/book-session" class="button">
                                            book a call with Kenny <span class="arrow"><i
                                                    class="fa-solid fa-arrow-right"></i></span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
<div class="bg-gray courses-master-classes">
     <div class="course-heading">
            <div class="container">
                <h5 class="tag-line">Learn from me</h5>
                <h3 class="title">Courses and Master Classes</h3>
            </div>
        </div>
            <div class="container">
               <app-course-slider/>
            </div>
            </div>
    </div>
</main>